<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <img src="https://homepages.cae.wisc.edu/~ece533/images/boat.png" onload="loadImage()" width="100" height="132">
{{context.content}} has sent the below message  where message are going. from: {{context.sender_mail}}<br/><br/>

<br/>
<p> <a href={{context.click_link}}>Click here to visit my website!</a> </p>
<br/>
<pre>{{context.mail_id}}
<p> Here is unsubscribe button</p>
    <a href={{context.unsubscribe_link}}>Unsubscribe Me!</a>
</pre>

<a href={{context.unsubscribe_link}}>Unsubscribe Me!</a>    


</body>

<script>
// function registerOpen(link){
//     window.location.href = "http://externalpage.com";

// }

function loadImage(new_link){
    window.location.href = new_link
}

</script>

</html>